
<div class="page-header text-center">
  <p class="lead">
    所有数据采集计划列表
  </p>
</div>

<!--计划首页-显示所有计划-->
<div class="table-responsive">
  <table class="table table-hover table-condensed">
    <thead>
    <tr>
      <th>序号</th>
      <th>名称</th>
      <th>总页数</th>
      <th>来源</th>
      <th colspan="3">操作</th>
    </tr>
    </thead>
    <tbody>
    <% @crawler_plans.each_with_index do |p, i| %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= link_to p.name, p %></td>
          <td><%= p.page %></td>
          <td><%= link_to p.website.name, p.website.index_url %></td>
          <td><%= link_to '开始采集', exce_crawler_plan_path(p) %></td>
          <td><%= link_to '修改计划', edit_crawler_plan_path(p) %></td>
          <td><%= link_to '删除', p, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>


  </table>
</div>


